<form class="form" action="<%= users_url %>" method="post" enctype="multipart/form-data">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <h1>Sign Up!</h1>

  <div class="input">
    <label for="user_username">Username</label>
    <input
       id="user_username"
       name="user[username]"
       type="text"
       value="">
  </div>

  <div class="submit">
    <input type="submit" value="<%= Create Account %>">
  </div>
</form>